<!DOCTYPE html>
<html ng-app="d3playground">
<head>
  <title>D3playground</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="body" ng-view>

<%= yield %>

</body>
</html>
